.heade {
    
    line-height: 0.7;
    margin-left: 90px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: left;
}

.head {
    font-weight: bold;
    margin-top: 55px;
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.detail {
    color: white;
    word-spacing: 3px;
    letter-spacing: 3px;
    text-indent: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: left;

}

.dev {
    text-align: center;
}

.aqe{
    align-self: center ;
}

.imgdev {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
	width: 50%;
}



.container {
    margin-top: 30px;
    padding-bottom: 50px;
    
   width: 100% !important;
    
}

.bg{
    background-image: url(./bg2.png);
  }